body{
  margin: 0;
}

button.knopka1 {
color: #fff;
background: #FFA500;
float: left;
border-radius: 5px;
border: 2px solid #FF8247;
}

button.knopka1:hover {
background: #FF6347;
}
button.knopka2 {
color: #fff;
background: #FFA500;
float: right;
border-radius: 5px;
border: 2px solid #FF8247;
}

button.knopka2:hover {
background: #FF6347;
}
.header-h1 {
  text-align: center;
  margin-bottom: .5rem;
}
.header-h1 h1 {
  display: inline-block;
  background: #FFA500;
  color: #fff;
  margin-bottom: 0;
  padding: .5rem 1rem .625rem 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 30px;
}
.nizhnya  {
  text-align: center;
  margin: 400px;
}
